<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project cards viewer</title>
    <style>
      * {
        box-sizing: border-box;
      }

    </style>
  </head>
  <body>
    <div class="container">
        <table>
            {% for card_file in card_files %}
            <tr>
                <td>
                  <a href="/card?path={{card_file.path}}">
                    {{card_file.path}}
                  </a>
                </td>
                <td>{{card_file.name}}</td>
                <td>
                  <a href="/card?path={{card_file.path}}&columns=2">
                    2 cols
                  </a>
                </td>
                </tr>
            {% endfor %}

        </table>
    </div>
  </body>
</html>
